<header>
  <a href='/'>
    <div class="header-image-container">
      <img src="foodMonster.jpg" alt="Food Monster Logo">
    </div>
    <h1 class="site-title"><a href="/">The Food Monster's Blog</a></h1>
  </a>
</header>
