<div class="post">
  <div class="post-contents">
    <div class="post-info-container">
      <a href="#" class="post-title">Tian Fu Noodles</a>
    </div>
    <div class="post-image-container">
      <img src="https://s3-media3.fl.yelpcdn.com/bphoto/pDmBDZc8X1STATWLb5aK9g/ls.jpg" alt="Tian Fu Noodles">
    </div>
    <div class="post-comment-container">
      <p>The spicy won-ton soup is ballin' out of control.</p>
    </div>
  </div>
</div>
