<div class="post">
  <div class="post-contents">
    <div class="post-info-container">
      <a href="#" class="post-title">{{description}}</a>
    </div>
    <div class="post-image-container">
      <img src="{{photoURL}}" alt="{{description}}">
    </div>
    <div class="post-comment-container">
      <p>{{comment}} blabla klajfdjadsfljasd</p>
    </div>
  </div>
</div>
