{{> header}}

<script src="/index.js" charset="utf-8" defer></script>

<main class="content">
  <section id="posts">
    <aside class="filter-container">

      <h2>Delete This Post</h2>
      <button id="delete-button" class="action-button">DELETE</button>
    </aside>

    {{> post}}
    </section>

</main>

{{> footer}}
