/*------------Properties for the page----------------*/
body {
  font-family: 'Georgia' sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: red;
}

a:hover {
  text-decoration: underline;
}

header {
  background-color: #000;
  align-items: center;
  display: flex;
  position: relative;
}

header a {
  color: red;
}

.site-title {
  font-family: "Comic Sans MS", sans-serif;
  font-size: 80px;
  font-weight: 100;
  margin: 0 0 0 20px;
  padding-top: 30px;
}

.site-title a:hover {
  text-decoration: none;
}

.content {
  display: flex;
  justify-content: center;;

}
/*------------Properties for the Text Filter----------------*/

.filter-container {
  order: 2;
  min-width: 225px;
  max-width: 225px;
  margin: 10px 10px auto 10px;
  padding: 20px;
  border-radius: 3px;
  background-color: #bfffa8;
}

.filter-container h2 {
  text-align: center;
  margin: 0;

}

.filter-input-container {
  width: 100%;
  margin: 20px 0;
  align-items: center;
  display: flex;
  align-items: center;
}

.filter-input {
  font-size: 14px;
  flex: 1 100%;
  width: 33%;
  margin-left: 10px;
  padding: 3px;
  border: 1px solid #dadada;
  border-radius: 3px;
}

.filter-fieldset {
  flex: 1 100%;
  border: 1px solid #ababab;
}

.action-button {
  font-size: 20px;
  color: white;
  padding: 10px;
  background-color: #000;
  border: 1px solid #ababab;
  border-radius: 5px;
  font-weight: lighter;
  cursor: hand;
}

.action-button:hover {
  background-color: #f777;
  border-color: #333;
  color: #333;
}

#filter-update-button {
  width: 100%;
}
/*------------Properties for the posts----------------*/
<<<<<<< HEAD

#delete-button {
  width: 100%;
}
=======
>>>>>>> elis-branch

#posts {
  display: flex;
  flex-direction: column;
}

.post {
  display: inline-block;
  vertical-align: top;
  height: 300px;
  width: 650px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #dadada;
  border-radius: 3px;
}

.post-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.post-info-container {
  margin-top: 20px;
}

.post-image-container img {
  max-height: 240px;
  max-width: 300px;
}

.post-comment-container {

}

#post-something-button {
  position: fixed;
  left: 30px;
  bottom: 30px;
  height: 60px;
  width: 10%;
  border: 1px solid black;
  /*border-radius: 30px;*/
  font-size: 20px;
  background-color: red;
  color: #fff;
  cursor: pointer;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
}

#post-something-button:hover,
#post-something-button:focus {
  left: 32px;
  bottom: 32px;
  height: 66px;
  width: 15%;
  /*border-radius: 33px;*/
  font-size: 25px;
}

#post-something-button:focus {
  outline: none;
}

/*------------Properties for the modal box----------------*/

#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.65);
}

#post-something-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

.hidden {
  display: none;
}

.modal-dialog {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #bfffa8;
}

.modal-header {
  position: relative;
  padding: 10px 20px;
}

.modal-header h3 {
  margin: 0;
  font-size: 28px;
}

#modal-close {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.modal-body {
  padding: 20px;
}

.post-input-element {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
}

.post-input-element > label {
  font-weight: 600;
  flex: 1 75px;
  margin-right: 10px;
}

.post-input-element input {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
}

.post-fieldset {
  flex: 1 100%;
  border: 1px solid #ababab;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

#modal-cancel,
#modal-accept {
  margin-right: 20px;
}

#modal-cancel {
  color: #333;
  background-color: #fff;
}

#modal-cancel:hover {
  background-color: #f777;
}

/*------------Footer container------------*/

#footer {
  display: flex;
  justify-content: center;
  border-top: 5px solid black;
  padding: 5px;
}

.contact-info-container {
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px;
  background-color: #bfffa8;
}


/*------------404 container------------*/
.error-container {
  font-family: "Garamond", serif;
  text-align: center;
}

.error-container h2 {
  font-size: 128px;
  margin-top: 50px;
  margin-bottom: 0;
}

.error-container h3 {
  font-size: 32px;
  margin: 0;
}
